*{ margin: 0%; padding: 0%; box-sizing: border-box;}
.encabezado {  height: 80px; background-color: #9698ab; font-size: 22px; color: #ffffff; padding: 20px;}
title { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
.logo { float: left}
.barra { float: right}
.encabezado ul li { list-style: none; display: inline-block; }
.encabezado ul li a { text-decoration: none; color: #ffffff;}
.encabezado li a:hover {color: #534340; text-decoration: underline #774e50; }
main { height: 45vh;  width: 100%; background-color: #727ca1; background-size: cover;}
.call { color: #ffffff; widht: 30%;  float: right; background-color: #d2b1aa; border: 4px solid; color: #9aa3c9; padding: 20px; margin: 40px }
h1 { margin-bottom: }
.grid container { align-content: center; align-items: center }
.call p { margin-bottom: 30px; color: #ffffff; text-align: center;}
.call a { background-color: #e6ecf1;text-decoration: none; padding: 10px  5px; text-align: center;}
.call a:hover { background-color: #8B7E74; color: #F1D3B3;}
.contactanos grid-container { text-align: center ; }
h2 { background-color: #ac7e6f; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; padding 10px}
section { height: 400 px ; width: 100% ; background-color: #727ca1;}
footer { background-color: #9698ab; text-align: center;  padding: 20px;;}
.p1 {padding: 20px; }